<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.snakecam.hothide</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Google Chrome.app/Contents/MacOS/Google Chrome</string>
		<string>--headless=new</string>
		<string>--user-data-dir=__HOME__/Library/Application Support/snakecam-hothide</string>
		<string>--no-first-run</string>
		<string>--no-default-browser-check</string>
		<string>--autoplay-policy=no-user-gesture-required</string>
		<string>--disable-background-timer-throttling</string>
		<string>--disable-renderer-backgrounding</string>
		<string>--window-size=1920,1080</string>
		<string>--remote-debugging-port=9226</string>
		<string>--remote-allow-origins=http://localhost:9226</string>
		<string>http://localhost:5050/static/snakecam/lake.html?cam=hot-hide-cam&amp;res=2k&amp;codec=h265&amp;whip=http://localhost:8890/hothide/whip</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/snakecam-hothide.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/snakecam-hothide.log</string>
	<key>ThrottleInterval</key>
	<integer>15</integer>
</dict>
</plist>
